# Python virtual environment
my-env-310/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/

# Data files - especially large ones
data/processed/*.npy
data/raw/
data/images/

# Saved models
models/*.pkl
models/ocr/

# Docker
*.tar
docker-compose.override.yml
