# Python virtual environment
my-env-310/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/

# Data files - especially large ones
data/processed/*.npy
data/raw/
data/images/

# Saved models
models/*.pkl


git init
>> git add .
>> git commit -m "first commit"
>> git branch -M main
>> git remote add origin https://github.com/Nikk6174/amazon_ml_challenge.git
>> git push -u origin main